//style

$gray: #9A9A9A;
$gray-light: #d5d5d5;
$blue: #0299FF;

//_________________________ Variables ______________________
.arrow{
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    top:  0;
    left: 8px;
    width:  14px;
    height: 14px;
    border: none;
    background: white;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    transform: rotate(-45deg);
  }
}

//_________________________ Sidebar ______________________
#main{
  #sidebar-first{
    margin-top: 70px;
    .section {
      padding-top: 0;
      .block {
        padding-top: 0;
        .content{
          margin-top: 0;
        }
      }
    }
    .content{
      &> ul.menu{
        &> li{
          &:before {
            content: "";
            width: 6px;
            height: 6px;
            border: 1px solid $gray-light;
            position: absolute;
            left: 0;
            top: 7px;
            background: $gray-light;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
          &.active-trail{
            a{
              color: $blue;
            }
            &:before{
              border: 1px solid $blue;
              background: $blue;
            }
          }
          ul.menu{
            li{
              a{
                color: $gray;
              }
              &.active-trail{
                a{
                  color: $blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

//_________________________ Content ______________________
.block-system{
/*  .page-add-diagnosis input#edit-title{

  }*/


  .content{
    margin-top: 0;
      #edit-title{
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      #edit-description{
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
  }
  .view{
    .views-exposed-form {
      .views-exposed-widget {
        padding: 0;
      }
    }
  }
  .view.view-symptoms{
    padding-top: 40px;
    @extend .arrow;
    &:before{
      top: 75px;
    }
  }
  .view-general-questions{
    @extend .arrow;
    &:before{
      top: 125px;
    }
  }
  .view-detail-questions{
    @extend .arrow;
    &:before{
      top: 125px;
    }
  }
  .views-exposed-widgets{
    margin-bottom: 2em;
  }
  #edit-name-wrapper input{
    width: 628px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-image: url(../images/search.png);
    background-repeat:no-repeat;
    background-position: 2% 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .view-content{
    max-height: 250px;
    overflow-y: auto;
  }
  .views-row{
    line-height: 2.5;
    .views-field{
      margin-right: 40px;
    }
  }
  .view-footer{
    padding-left: 60px;
    margin-bottom: 40px;
    margin-right: 60px;
    border-bottom: 3px dotted #e0e0e0;
    p{
      margin: 1.2em 0 2.2em;
    }
  }
}

//_________________________ Pop-ups ______________________

.popups-container{
  .form-item {
    .form-textarea-wrapper{
     .form-textarea{
       padding: 10px;
       resize: none;
     }
    }
  }
  #edit-tabs-something-tab-one-question-text{
    padding: 6px;
  }
  #edit-tabs-something-tab-two-question-text{
    padding: 6px;
  }
  .chosen-container-multi{
   .chosen-choices {
     padding: 5px 5px;
   }
  }
  #edit_tabs_something_tab_two_simptoms_chosen{
    min-width: 534px;
  }

  #edit-tabs-something-tab-one input#edit-tabs-something-tab-one-cancel{
    margin-right: 20px;
  }
  .horizontal-tabs ul.horizontal-tabs-list li a,
  .horizontal-tabs ul.horizontal-tabs-list li.selected a{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  li.horizontal-tab-button.horizontal-tab-button-0.first a {
    margin-left: 60px;
  }
  li.horizontal-tab-button.horizontal-tab-button-1.last a{
    margin-right: 60px;
  }
}

