/* ---------- Overall Specifications ---------- */
body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

a:link,
a:visited {
  text-decoration: none; }

a:hover,
a:active,
a:focus {
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit; }

h1 {
  font-size: 1.357em;
  color: #000; }

h2 {
  font-size: 1.143em; }

p {
  margin: 0 0 1.2em; }

del {
  text-decoration: line-through; }

tr.odd {
  background-color: #dddddd; }

img {
  outline: 0; }

code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.857em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }

code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06); }

pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent; }

pre code,
pre samp,
pre var {
  padding: 0; }

.description code {
  font-size: 1em; }

kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap; }

/* ------------------ Fonts ------------------ */
body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: Georgia, "Times New Roman", Times, serif; }

#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: 'OpenSans-Regular', Verdana, Geneva, sans-serif; }

input,
textarea,
select,
a.button {
  font-family: 'OpenSans-Regular', Verdana, Geneva, sans-serif; }

/* ------------------ Reset Styles ------------------ */
caption {
  text-align: left;
  /* LTR */
  font-weight: normal; }

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em; }

blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em; }

blockquote > p:first-child {
  display: inline; }

a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0; }

/* ------------------ Table Styles ------------------ */
table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%; }

table table {
  font-size: 1em; }

#footer-wrapper table {
  font-size: 1em; }

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none; }

table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold; }

table tbody tr th {
  vertical-align: top; }

tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left;
  /* LTR */ }

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18); }

tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105); }

tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063); }

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em; }

table ul.links li {
  padding: 0 1em 0 0; }

/* ------------------ List Styles ------------------ */
.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
  /* LTR */ }

.contextual-links-wrapper {
  font-size: small !important; }

ul.contextual-links {
  font-size: 0.923em; }

.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important; }

.item-list .pager {
  font-size: 0.929em; }

.content > ul.menu {
  padding: 0;
  margin: 0; }
  .content > ul.menu li {
    margin: 0; }
    .content > ul.menu li a {
      color: #000000; }
  .content > ul.menu > li {
    margin: 0 0 30px 0;
    padding: 0 0 0 25px;
    position: relative; }
    .content > ul.menu > li.active-trail:before {
      border: 1px solid #0064cb;
      background: #0064cb; }
    .content > ul.menu > li.active-trail > a {
      color: #0064cb; }
    .content > ul.menu > li.active-trail .active-trail > a {
      color: #0064cb; }
    .content > ul.menu > li:before {
      content: "";
      width: 6px;
      height: 6px;
      border: 1px solid #d5d5d5;
      background: #d5d5d5;
      position: absolute;
      left: 0;
      top: 7px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .content > ul.menu > li > ul {
      margin-top: 12px; }
      .content > ul.menu > li > ul > li {
        margin-bottom: 5px; }
  .content > ul.menu ul {
    padding: 0; }
  .content > ul.menu li, .content > ul.menu li.leaf, .content > ul.menu li.expanded {
    list-style-image: none;
    list-style-type: none; }
  .content > ul.menu .menu a {
    color: #5c5c5c;
    font-size: 14px; }

.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em;
  /* LTR */ }

.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0;
  /* LTR */ }

ul.tips {
  padding: 0 0 0 1.25em;
  /* LTR */ }

/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50; }

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px; }

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0; }

#logo {
  float: left;
  /* LTR */
  padding: 15px 15px 15px 10px;
  /* LTR */ }

#name-and-slogan {
  float: left;
  /* LTR */
  padding-top: 34px;
  margin: 0 0 30px 15px;
  /* LTR */ }

#site-name {
  font-size: 1.821em;
  color: #686868;
  line-height: 1; }

h1#site-name {
  margin: 0; }

#site-name a {
  font-weight: normal; }

#site-slogan {
  font-size: 0.929em;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic; }

/* Region header blocks. */
.region-header .block {
  padding: 0; }

.region-header .block .content {
  margin: 0;
  padding: 0; }

.region-header .block ul {
  margin: 0;
  padding: 0; }

.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0; }

.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  /* LTR */
  width: 120px; }

.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8); }

.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7); }

/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 208px; }

.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px; }

.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15); }

.region-header .block-menu li.last a {
  border-bottom: 0; }

/* User Login block in the header region */
.region-header #block-user-login {
  width: auto; }

.region-header #block-user-login .content {
  margin-top: 2px; }

.region-header #block-user-login .form-item {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0; }

.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0; }

.region-header #block-user-login div.item-list {
  clear: both; }

.region-header #block-user-login div.description {
  display: inline; }

.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1; }

.region-header #block-user-login .item-list li {
  list-style: none;
  float: left;
  /* LTR */
  padding: 3px 0 1px; }

.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em;
  /* LTR */ }

.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0;
  /* LTR */ }

.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px;
  /* LTR */ }

.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both; }

.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px; }

.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

/* Search block in region header. */
.region-header #block-search-form {
  width: 208px; }

.region-header #block-search-form .form-text {
  width: 154px; }

/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em; }

/* --------------- Main Menu ------------ */
#main-menu {
  clear: both; }

#main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 15px; }

#main-menu-links li {
  float: left;
  /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px; }

#main-menu-links a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: left;
  /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

#main-menu-links a:hover,
#main-menu-links a:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95); }

#main-menu-links a:active {
  background: #b3b3b3;
  background: white; }

#main-menu-links li a.active {
  border-bottom: none; }

.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #f0f0f0;
  background: #f0f0f0; }

/* --------------- Secondary Menu ------------ */
#secondary-menu-links {
  float: right;
  /* LTR */
  font-size: 0.929em;
  margin: 10px 10px 0; }

#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline; }

/* ------------------- Main ------------------- */
#main {
  margin-top: 20px;
  margin-bottom: 40px; }

/* ----------------- Featured ----------------- */
#featured {
  text-align: center;
  font-size: 1.643em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 0 45px;
  margin: 0;
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff; }

#featured h2 {
  font-size: 1.174em;
  line-height: 1; }

#featured p {
  margin: 0;
  padding: 0; }

/* --------------- Highlighted ---------------- */
#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%; }

/* ------------------- Help ------------------- */
.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px; }

/* ----------------- Content ------------------ */
.content {
  margin-top: 10px; }

h1#page-title {
  font-size: 2em;
  line-height: 1; }

#content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4; }

.node .content {
  font-size: 1.071em; }

.node-teaser .content {
  font-size: 1em; }

.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em; }

.node-teaser h2 a {
  color: #181818; }

.node-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px; }

.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px; }

.node-full {
  background: none;
  border: none;
  padding: 0; }

.node-teaser .content {
  clear: none;
  line-height: 1.6; }

.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px; }

.submitted .user-picture img {
  float: left;
  /* LTR */
  height: 20px;
  margin: 1px 5px 0 0;
  /* LTR */ }

.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em; }

.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */ }

.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em; }

.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em; }

.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none; }

.field-type-taxonomy-term-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap; }

.link-wrapper {
  text-align: right; }

.field-type-image img,
.user-picture img {
  margin: 0 0 1em; }

ul.links {
  color: #68696b;
  font-size: 0.821em; }

.node-unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0; }

.node-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* ----------------- Comments ----------------- */
.comment h2.title {
  margin-bottom: 1em; }

.comment div.user-picture img {
  margin-left: 0;
  /* LTR */ }

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top; }

.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0;
  /* LTR */
  vertical-align: top;
  overflow: hidden; }

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9; }

.comment .attribution .username {
  white-space: nowrap; }

.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2; }

.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b; }

.comment .submitted .comment-permalink {
  font-size: 0.786em; }

.comment .content {
  font-size: 0.929em;
  line-height: 1.6; }

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px;
  /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px; }

.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%; }

.comment .indented {
  margin-left: 40px;
  /* LTR */ }

.comment ul.links {
  padding: 0 0 0.25em 0; }

.comment ul.links li {
  padding: 0 0.5em 0 0;
  /* LTR */ }

.comment-unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */ }

.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding-top: 10px; }

.sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px; }

.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2; }

.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4; }

.sidebar tbody {
  border: none; }

.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6; }

/* ----------------- Triptych ----------------- */
#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7; }

#triptych h2 {
  color: #000;
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1; }

#triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3; }

#triptych .block.last {
  border-bottom: none; }

#triptych .block ul li,
#triptych .block ol li {
  list-style: none; }

#triptych .block ul,
#triptych .block ol {
  padding-left: 0; }

#triptych #block-user-login .form-text {
  width: 185px; }

#triptych #block-user-online p {
  margin-bottom: 0; }

#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0; }

#triptych-last #block-node-syndicate {
  text-align: right; }

#triptych #block-search-form .form-type-textfield input {
  width: 185px; }

#triptych-middle #block-system-powered-by {
  text-align: center; }

#triptych-last #block-system-powered-by {
  text-align: right; }

/* ------------------ Footer ------------------ */
#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em; }

#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8); }

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline; }

#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px; }

#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none; }

#footer .block {
  margin: 0.5em 0; }

#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0; }

#footer .block h2 {
  margin: 0; }

#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase; }

#footer-columns .content {
  margin-top: 0; }

#footer-columns p {
  margin-top: 1em; }

#footer-columns .content ul {
  list-style: none;
  padding-left: 0;
  /* LTR */
  margin-left: 0; }

#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  /* LTR */
  text-indent: -15px; }

#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none; }

#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15); }

#footer .region {
  margin-top: 20px; }

#footer .block {
  clear: both; }

#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer li a {
  float: left;
  /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555;
  /* LTR */
  border-color: rgba(255, 255, 255, 0.15); }

#footer li.first a {
  padding-left: 0;
  /* LTR */ }

#footer li.last a {
  padding-right: 0;
  /* LTR */
  border-right: none;
  /* LTR */ }

#footer-wrapper tr.odd {
  background-color: transparent; }

#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15); }

/* --------------- System Tabs  --------------- */
.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px; }

.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom; }

.tabs ul.primary li {
  display: block;
  float: left;
  /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0;
  /* LTR */ }

.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff; }

.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left;
  /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px; }

.tabs ul.primary li.active a {
  background-color: #ffffff; }

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0; }

.tabs ul.secondary li {
  display: block;
  float: left;
  /* LTR */ }

.tabs ul.secondary li:last-child {
  border-right: none;
  /* LTR */ }

.tabs ul.secondary li:first-child {
  padding-left: 0;
  /* LTR */ }

.tabs ul.secondary li a {
  padding: 0.25em 0.5em; }

.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }

ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em; }

ul.action-links li {
  display: inline-block;
  margin-left: 10px; }

ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0; }

/* ---------------- Messages  ----------------- */
#messages {
  padding: 20px 0 5px;
  margin: 0 auto; }

.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08); }

div.messages {
  margin: 8px 15px; }

/* -------------- Breadcrumbs   -------------- */
.breadcrumb {
  font-size: 0.929em; }

/* -------------- User Profile   -------------- */
.profile .user-picture {
  float: none; }

/* -------------- Password Meter  ------------- */
.confirm-parent,
.password-parent {
  width: 34em; }

.password-parent,
div.form-item div.password-suggestions {
  position: relative; }

.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em; }

.password-strength-text {
  margin-top: 0.2em; }

div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em; }

/* ---------------- Buttons    ---------------- */
input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 0px solid #e4e4e4;
  border-bottom: 0px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a; }

/* -------------- Form Elements   ------------- */
fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fieldset-wrapper {
  margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0; }

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0; }

.filter-wrapper .form-item label {
  margin-right: 10px; }

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em; }

.filter-guidelines {
  padding: 0 1.5em 0 0.5em; }

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px;
  /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

fieldset legend a {
  color: #3b3b3b; }

fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000; }

fieldset .fieldset-wrapper {
  padding: 0 10px; }

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic; }

input {
  margin: 2px 0;
  padding: 4px; }

input,
textarea {
  font-size: 0.929em; }

textarea {
  line-height: 1.5; }

textarea.form-textarea,
select.form-select {
  padding: 4px; }

input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc; }

input.form-submit:hover,
input.form-submit:focus {
  background: #dedede; }

.password-suggestions ul li {
  margin-left: 1.2em;
  /* LTR */ }

.form-item {
  margin-bottom: 1em;
  margin-top: 2px; }

.form-item label {
  font-size: 0.929em; }

.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px; }

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px; }

.form-actions {
  padding-top: 10px; }

/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171; }

.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb; }

.form-disabled label {
  color: #717171; }

/* Comment form */
.comment-form label {
  float: left;
  /* LTR */
  font-size: 0.929em;
  width: 120px; }

.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.comment-form .form-type-textarea label {
  float: none; }

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden; }

.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px;
  /* LTR */ }

.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0; }

.comment-form input.form-file {
  width: auto; }

.no-sidebars .comment-form .form-text {
  width: 800px; }

.one-sidebar .comment-form .form-text {
  width: 500px; }

.two-sidebars .comment-form .form-text {
  width: 320px; }

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
  /* LTR */ }

#content h2.comment-form {
  margin-bottom: 0.5em; }

.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0; }

.filter-wrapper label {
  width: auto;
  float: none; }

.filter-wrapper .form-select {
  min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em; }

#edit-actions input {
  margin-right: 0.6em;
  /* LTR */ }

/* -------------- Other Overrides ------------- */
div.password-suggestions {
  border: 0; }

.ui-widget-overlay {
  background: #222222;
  opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em; }

#forum .name {
  font-size: 1.083em; }

#forum .description {
  font-size: 1em; }

/* --------------- Search Form ---------------- */
#block-search-form {
  padding-bottom: 7px; }

#block-search-form .content {
  margin-top: 0; }

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left;
  /* LTR */
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em; }

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden; }

#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom; }

#search-form .form-item-keys label {
  display: block; }

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0; }

.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em; }

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em; }

.search-results .search-snippet-info {
  padding-left: 0; }

/* -------------- Shortcut Links -------------- */
.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0;
  /* Same as usual h1#page-title margin. */ }

.shortcut-wrapper h1#page-title {
  float: left;
  /* LTR */
  margin: 0; }

div.add-or-remove-shortcuts {
  padding-top: 0.9em; }

.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em; }

/* ---------- Admin-specific Theming ---------- */
.page-admin #content img {
  margin-right: 15px;
  /* LTR */ }

.page-admin #content .simpletest-image img {
  margin: 0; }

.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none; }

.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em; }

.page-admin-structure-block-demo #header .block-region {
  width: 500px; }

.page-admin #admin-dblog img {
  margin: 0 5px; }

/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0; }

#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0; }

/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0; }

div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px; }

div.admin-panel h3 {
  margin: 16px 7px; }

div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0; }

div.admin-panel dd {
  margin: 0 0 10px; }

div.admin-panel .description {
  margin: 0 0 14px 7px; }

/* ---------- Overlay layout styles ----------- */
.overlay #main,
.overlay #content {
  width: auto;
  float: none; }

.overlay #page {
  padding: 0 2em; }

.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none; }

.overlay-processed .field-type-image {
  display: block;
  float: none; }

.overlay #messages {
  width: auto; }

/* ---------- Poll ----------- */
.node .poll {
  margin: 2em 0; }

.node .poll #edit-choice {
  margin: 0 0 1.5em; }

.poll .vote-form {
  text-align: left;
  /* LTR */ }

.poll .vote-form .choices {
  margin: 0; }

.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right; }

.poll .text {
  clear: right;
  margin-right: 2.25em; }

.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right;
  /* LTR */
  clear: both; }

.node .poll {
  margin: 1.8em 0 0; }

.node .poll .text {
  margin-right: 6.75em; }

.node .poll #edit-choice {
  margin: 0 0 1.2em; }

.poll .bar .foreground {
  background-color: #666; }

#footer-wrapper .poll .bar {
  background-color: #666; }

#footer-wrapper .poll .bar .foreground {
  background-color: #ddd; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("open-sans/OpenSans-Light.ttf"), url("open-sans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("open-sans/OpenSans-LightItalic.ttf"), url("open-sans/OpenSans-LightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-Italic";
  src: url("open-sans/OpenSans-Italic.ttf"), url("open-sans/OpenSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("open-sans/OpenSans-Regular.ttf"), url("open-sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("open-sans/OpenSans-Semibold.ttf"), url("open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url("open-sans/OpenSans-SemiboldItalic.ttf"), url("open-sans/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-Bold";
  src: url("open-sans/OpenSans-Bold.ttf"), url("open-sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("open-sans/OpenSans-BoldItalic.ttf"), url("open-sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("open-sans/OpenSans-ExtraBold.ttf"), url("open-sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("open-sans/OpenSans-ExtraBoldItalic.ttf"), url("open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*******************************************************/
/*****SYMPTOMS*****/
.view-symptoms {
  width: 637px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 45px 58px 0px 103px; }

.edit-question {
  width: 18px;
  height: 18px;
  background-image: url("../images/edit-img.png");
  background-repeat: no-repeat;
  padding-right: 29px; }

.del-question {
  width: 18px;
  height: 18px;
  background-image: url("../images/del-img.png");
  background-repeat: no-repeat; }

.item-question {
  width: 9px;
  height: 10px;
  background-image: url("../images/item-img.png");
  background-repeat: no-repeat; }

.item-question,
.text-question {
  display: inline-block;
  /*vertical-align: bottom;*/ }

.item-question {
  padding-right: 50px; }

.text-question {
  width: 405px;
  /*  padding-right: 50px;*/
  /*display: block;*/ }

.out-edit-question,
.out-del-question {
  display: inline-block; }

.views-field-name {
  width: 465px;
  margin-right: 95px; }

.view-symptoms .views-field-name,
.view-symptoms .views-field-nothing {
  display: inline-block; }

.view-symptoms #edit-name-wrapper {
  width: 635px; }

.view-symptoms #edit-name-wrapper input {
  width: 620px; }

.text-question {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  text-transform: uppercase; }

.add-symptom {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  color: #0091ea;
  /*border-bottom: 1px solid #0091ea;*/
  /*  margin-top: 28px;*/ }

/*****left-menu*****/
.menu.clearfix a {
  font-family: 'OpenSans-Regular';
  font-size: 16px; }

.active-trail {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  /*color: #0091ea; */ }

/******************/
/***add-symptom***/
#add-simptom input#edit-cancel {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #e5e5e5;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000000;
  margin-left: 82px;
  margin-right: 40px; }

#add-simptom input#edit-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff; }

#add-simptom textarea#edit-title {
  width: 540px;
  height: 120px;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 50px; }

#add-simptom .grippie {
  display: none; }

/*.ctools-modal-content.modal-forms-modal-content {
  width: 730px !important;
  height: 460px !important;
}

.modal-content.popups-body {
  width: 730px !important;
  height: 460px !important;
}*/
#add-simptom {
  height: 400px; }

.top-modal-class {
  background-color: #0099ff;
  text-align: center;
  width: 729px;
  height: 90px;
  margin-left: -12px;
  margin-top: -14px; }

.text-top-modal {
  font-family: 'OpenSans-Regular';
  font-size: 22px;
  color: #ffffff;
  display: block;
  line-height: 90px; }

/*=====================================================================================*/
.modal-header.popups-title {
  display: none; }

/*=====================================================================================*/
/*****modal-delete*****/
#remove-term input#edit-cancel {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #e5e5e5;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000000;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 10px; }

#remove-term input#edit-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px; }

/***#edit-tabs-something-tab-one***/
#edit-tabs-something-tab-one {
  padding-left: 70px;
  padding-right: 70px; }

#edit-tabs-something-tab-one div#edit-tabs-something-tab-one-header {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #9f9f9f; }

#edit-tabs-something-tab-one label {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  padding-bottom: 5px; }

#edit-tabs-something-tab-one select {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  width: 220px; }

input#edit-tabs-something-tab-one-question-text {
  width: 520px; }

.form-item-tabs-something-tab-one-gender,
.form-item-tabs-something-tab-one-age-group,
.form-item-tabs-something-tab-one-part-of-body,
.form-item-tabs-something-tab-one-segment-of-pain-location,
#segment_of_pain_location {
  width: 220px;
  padding-right: 35px; }

.form-item-tabs-something-tab-one-gender,
.form-item-tabs-something-tab-one-age-group {
  display: inline-block; }

.form-item-tabs-something-tab-one-part-of-body,
#segment_of_pain_location {
  display: inline-block; }

#edit-tabs-something-tab-one input#edit-tabs-something-tab-one-cancel {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #e5e5e5;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  margin-right: 30px; }

#edit-tabs-something-tab-one input#edit-tabs-something-tab-one-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  margin-right: 0px; }

/***************************************tab-two********/
#edit-tabs-something-tab-two {
  padding-left: 70px;
  padding-right: 70px; }

#edit-tabs-something-tab-two label {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000; }

#edit-tabs-something-tab-two select#edit-tabs-something-tab-two-general-question {
  /*width: 270px;*/ }

input#edit-tabs-something-tab-two-question-text {
  width: 520px; }

#edit-tabs-something-tab-two select {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  width: 170px; }

.form-item-tabs-something-tab-two-gender,
.form-item-tabs-something-tab-two-age-group,
.form-item-tabs-something-tab-two-part-of-body,
.form-item-tabs-something-tab-two-segment-of-pain-location,
#segment_of_pain_location {
  width: 220px;
  padding-right: 35px; }

.form-item-tabs-something-tab-two-gender,
.form-item-tabs-something-tab-two-age-group {
  display: inline-block; }

.form-item-tabs-something-tab-two-part-of-body,
#segment_of_pain_location_two {
  display: inline-block; }

#edit-tabs-something-tab-two input#edit-tabs-something-tab-two-cancel {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #e5e5e5;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000000;
  /*  margin-top: 30px;*/
  margin-right: 30px; }

#edit-tabs-something-tab-two input#edit-tabs-something-tab-two-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff;
  /*margin-top: 30px;*/
  margin-right: 0px; }

/*#edit_tabs_something_tab_two_simptoms_chosen {
  width: 520px;
}*/
/********VIEW_GENERAL_QUESTIONS********/
.view-general-questions {
  width: 637px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 45px 58px 0px 103px; }

.view-general-questions .views-field-name,
.view-general-questions .views-field-nothing {
  display: inline-block; }

.view-general-questions #edit-name-wrapper {
  width: 635px; }

.view-general-questions #edit-name-wrapper input {
  width: 620px; }

/****************TABS******************/
#modal-content {
  overflow: hidden; }

.horizontal-tabs {
  border: 0px !important; }

#edit-header {
  margin: 0px; }

/*****/
ul.horizontal-tabs-list {
  height: 70px !important;
  background-color: #f1f1f1 !important;
  width: 730px !important;
  margin-left: -12px !important; }

li.horizontal-tab-button.horizontal-tab-button-0.first {
  height: 70px; }

li.horizontal-tab-button.horizontal-tab-button-1.last {
  height: 70px; }

li.horizontal-tab-button.horizontal-tab-button-0.first a {
  padding-top: 27px;
  color: #999999;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  padding-left: 130px; }

li.horizontal-tab-button.horizontal-tab-button-1.last a {
  padding-top: 27px;
  color: #999999;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  padding-left: 77px; }

li.horizontal-tab-button.horizontal-tab-button-0.first.selected a,
li.horizontal-tab-button.horizontal-tab-button-1.last.selected a {
  padding-top: 27px;
  padding-bottom: 20px;
  color: #000000 !important;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  border-bottom: 4px solid #0099ff;
  /*border-width: 10px 4px 4px 4px;*/ }

li.horizontal-tab-button.horizontal-tab-button-0.first.selected a {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  padding-left: 130px; }

li.horizontal-tab-button.horizontal-tab-button-1.last.selected a {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  padding-left: 77px; }

li.horizontal-tab-button.horizontal-tab-button-0.first,
li.horizontal-tab-button.horizontal-tab-button-1.last {
  width: 364px;
  padding: 0px;
  background-color: #f1f1f1;
  border: 0px; }

li.horizontal-tab-button.horizontal-tab-button-0.first:hover,
li.horizontal-tab-button.horizontal-tab-button-1.last:hover {
  background-color: #f1f1f1; }

li.horizontal-tab-button.horizontal-tab-button-0.first a:hover {
  background-color: #f1f1f1; }

li.horizontal-tab-button.horizontal-tab-button-1.last a:hover {
  background-color: #f1f1f1; }

li.horizontal-tab-button.horizontal-tab-button-0.first.selected,
li.horizontal-tab-button.horizontal-tab-button-1.last.selected {
  padding: 0px;
  background-color: #f1f1f1;
  border: 0px; }

/*****VIEW-DETAIL-QUESTIONS*****/
.view-detail-questions {
  width: 637px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 45px 58px 0px 103px; }

.view-detail-questions .views-field-name,
.view-detail-questions .views-field-nothing {
  display: inline-block; }

.view-detail-questions #edit-name-wrapper {
  width: 635px; }

.view-detail-questions #edit-name-wrapper input {
  width: 620px; }

/********************************/
.page-add-diagnosis div#content {
  width: 637px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 5px 58px 0px 103px; }

.page-add-diagnosis label {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  color: #000000;
  padding-bottom: 20px; }

.page-add-diagnosis .grippie {
  display: none; }

.page-add-diagnosis input#edit-title,
.page-add-diagnosis textarea#edit-description {
  width: 620px;
  padding-left: 0px;
  padding-right: 0px; }

.page-add-diagnosis .form-item-age-group,
.page-add-diagnosis .form-item-gender {
  width: 200px;
  display: inline-block; }

.page-add-diagnosis .form-item-age-group {
  padding-right: 56px; }

.page-add-diagnosis div#edit_age_group_chosen,
.page-add-diagnosis div#edit_gender_chosen {
  width: 190px !important;
  border-radius: 0px !important; }

.page-add-diagnosis div#edit_age_group_chosen a,
.page-add-diagnosis div#edit_gender_chosen a {
  border-radius: 0px; }

.page-add-diagnosis div#edit_age_group_chosen a span,
.page-add-diagnosis div#edit_gender_chosen a span {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  text-transform: uppercase;
  /*border: 0px;*/ }

.page-add-diagnosis input#edit-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff;
  float: right;
  margin-right: 0px;
  margin-top: 10px; }

/******GENERAL-REDAGUV******/
#edit-general-question .top-modal-class {
  background-color: #0099ff;
  text-align: center;
  width: 729px;
  height: 90px;
  margin-left: -82px;
  margin-top: -14px; }

#edit-general-question {
  padding-left: 70px;
  padding-right: 70px; }

select#edit-general-question {
  padding-left: 0px;
  padding-right: 0px; }

#edit-general-question div#edit-header {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 16px;
  margin-top: 80px; }

#edit-general-question label {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000; }

#edit-general-question select {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  width: 220px; }

#edit-general-question input#edit-question-text {
  width: 520px; }

#edit-general-question .form-item-gender,
#edit-general-question .form-item-age-group,
#edit-general-question .form-item-part-of-body,
#edit-general-question .form-item-segment-of-pain-location,
#segment_of_pain_location {
  width: 220px;
  padding-right: 35px; }

#edit-general-question .form-item-gender,
#edit-general-question .form-item-age-group {
  display: inline-block; }

#edit-general-question .form-item-part-of-body,
#segment_of_pain_location {
  display: inline-block; }

#edit-general-question input#edit-cancel {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #e5e5e5;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  margin-right: 30px; }

#edit-general-question input#edit-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  margin-right: 0px; }

/******DETAIL-QUESTIONS*****/
#edit-detail-question .top-modal-class {
  background-color: #0099ff;
  text-align: center;
  width: 729px;
  height: 90px;
  margin-left: -82px;
  margin-top: -14px; }

#edit-detail-question {
  padding-left: 70px;
  padding-right: 70px; }

#edit-detail-question label {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  /*padding-bottom: 5px;*/ }

/*#edit-detail-question select#edit-tabs-something-tab-two-general-question {
  width: 270px;
}*/
#edit-detail-question input#edit-question-text {
  width: 520px; }

#edit-detail-question select {
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #000000;
  /*width: 170px;*/ }

#edit-detail-question .form-item-gender,
#edit-detail-question .form-item-age-group,
#edit-detail-question .form-item-part-of-body,
#edit-detail-question .form-item-segment-of-pain-location,
#segment_of_pain_location_two {
  width: 220px;
  padding-right: 35px; }

#edit-detail-question .form-item-gender select,
#edit-detail-question .form-item-age-group select,
#edit-detail-question .form-item-part-of-body select,
#edit-detail-question .form-item-segment-of-pain-location select,
#segment_of_pain_location_two select {
  width: 220px; }

#edit-detail-question .form-item-gender,
#edit-detail-question .form-item-age-group {
  display: inline-block; }

#edit-detail-question .form-item-part-of-body,
#edit-detail-question #segment_of_pain_location_two {
  display: inline-block; }

#edit-detail-question input#edit-cancel {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #e5e5e5;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  margin-right: 30px; }

#edit-detail-question input#edit-submit {
  width: 250px;
  height: 56px;
  background: none;
  background-color: #0099ff !important;
  border-radius: 0px;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  margin-right: 0px; }

#edit-detail-question .form-item-general-question {
  margin-top: 70px; }

.arrow:before, .block-system .view.view-symptoms:before, .block-system .view-general-questions:before, .block-system .view-detail-questions:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 8px;
  width: 14px;
  height: 14px;
  border: none;
  background: white;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  transform: rotate(-45deg); }

#main #sidebar-first {
  margin-top: 70px; }
  #main #sidebar-first .section {
    padding-top: 0; }
    #main #sidebar-first .section .block {
      padding-top: 0; }
      #main #sidebar-first .section .block .content {
        margin-top: 0; }
  #main #sidebar-first .content > ul.menu > li:before {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #d5d5d5;
    position: absolute;
    left: 0;
    top: 7px;
    background: #d5d5d5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  #main #sidebar-first .content > ul.menu > li.active-trail a {
    color: #0299FF; }
  #main #sidebar-first .content > ul.menu > li.active-trail:before {
    border: 1px solid #0299FF;
    background: #0299FF; }
  #main #sidebar-first .content > ul.menu > li ul.menu li a {
    color: #9A9A9A; }
  #main #sidebar-first .content > ul.menu > li ul.menu li.active-trail a {
    color: #0299FF; }

.block-system {
  /*  .page-add-diagnosis input#edit-title{
  
    }*/ }
  .block-system .content {
    margin-top: 0; }
    .block-system .content #edit-title {
      padding-left: 15px;
      padding-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .block-system .content #edit-description {
      padding-left: 15px;
      padding-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .block-system .view .views-exposed-form .views-exposed-widget {
    padding: 0; }
  .block-system .view.view-symptoms {
    padding-top: 40px; }
    .block-system .view.view-symptoms:before {
      top: 75px; }
  .block-system .view-general-questions:before {
    top: 125px; }
  .block-system .view-detail-questions:before {
    top: 125px; }
  .block-system .views-exposed-widgets {
    margin-bottom: 2em; }
  .block-system #edit-name-wrapper input {
    width: 628px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .block-system .view-content {
    max-height: 250px;
    overflow-y: auto; }
  .block-system .views-row {
    line-height: 2.5; }
    .block-system .views-row .views-field {
      margin-right: 40px; }
  .block-system .view-footer {
    padding-left: 60px;
    margin-bottom: 40px;
    margin-right: 60px;
    border-bottom: 3px dotted #e0e0e0; }
    .block-system .view-footer p {
      margin: 1.2em 0 2.2em; }

.popups-container .form-item .form-textarea-wrapper .form-textarea {
  padding: 10px;
  resize: none; }
.popups-container #edit-tabs-something-tab-one-question-text {
  padding: 6px; }
.popups-container #edit-tabs-something-tab-two-question-text {
  padding: 6px; }
.popups-container .chosen-container-multi .chosen-choices {
  padding: 5px 5px; }
.popups-container #edit_tabs_something_tab_two_simptoms_chosen {
  min-width: 534px; }
.popups-container #edit-tabs-something-tab-one input#edit-tabs-something-tab-one-cancel {
  margin-right: 20px; }
.popups-container .horizontal-tabs ul.horizontal-tabs-list li a,
.popups-container .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding-right: 0;
  padding-left: 0;
  text-align: center; }
.popups-container li.horizontal-tab-button.horizontal-tab-button-0.first a {
  margin-left: 60px; }
.popups-container li.horizontal-tab-button.horizontal-tab-button-1.last a {
  margin-right: 60px; }

/*# sourceMappingURL=style.css.map */
